/* General styles */
body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styles */
.forgot-container {
    background: #ffffff;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo styling */
.logo {
    width: 80px;
    margin-bottom: 10px;
}

/* Heading styles */
h4 {
    font-weight: bold;
    color: #0a58ca;
    margin-bottom: 30px;
}

/* Button styles */
.forgot-button button {
    background-color: #0d6efd;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}

.forgot-button button:hover {
    background-color: #025ce2;
}

/* Link styles */
p a {
    text-decoration: none;
    color: #0d6efd;
}

p a:hover {
    text-decoration: underline;
}

/* General Alert Styling */
.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* Green Success Message */
.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border: 1px solid #c3e6cb !important;
}


/* Red Error Message */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

